@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #64748b;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
